.App {
  margin: 1em;
}

h2 {
  text-align: center;
}



/* Toolbar Elements */

.toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  margin-bottom: 10em;
}

.month-chooser {
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.tag-chooser {
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 3px;
}



/* Loading Elements */

.spinner {
    border: 25px solid #196ad4; /* Light grey */
    border-top: 25px solid #85c4ee; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1.25s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Body Elements */
.photos {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  
  margin: 2.5em;
}

.photo-cell {
  width: 25%;
  border: 0.15em solid #bbbbbb;
  padding: 1.5em;
  border-radius: 2em;
  font-size: 0.75em;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.date {
  color: #999999;
}

.photo {
  width: 100%;
}
