/* App.css */



/* General changes */

.App {
  padding: 1em;
  background-color:rgb(240, 240, 240)
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2, h3 {
  text-align: center;
}

.centering {
  text-align: center;
}

.text-left {
  text-align: left;
}

.padding {
  padding: 2.5em;
}

.error-msg {
  color: rgba(236, 64, 58, 0.767);
  font-weight: bold;
  font-style: italic;
}

button {
  border-radius: 2.5em;
  border-color: lightseagreen;
  padding: 0.5em;
  margin: 0.25em;
}

button:hover {
  border-radius: 2.5em;
  border-color: rgb(64, 64, 206);
  background-color: rgb(104, 104, 187);
  color: white;
  padding: 0.5em;
  margin: 0.25em;
}

button:active {
  border-radius: 2.5em;
  border-color: rgb(104, 104, 214);
  background-color: rgb(183, 183, 238);
  color: white;
  padding: 0.5em;
  margin: 0.25em;
}



/* Navbar Elements */

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-bottom: 2.5em;
  padding-top: 1.5em;
}

.navpages {
  display: flex;
  gap: 2em;
}


/* Searchbar Elements */

.searchbar {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  padding-bottom: 2.5em;
}

.page-chooser {
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 3px;
}



/* Loading Elements */

.spinner {
    border: 25px solid #196ad4; /* Light grey */
    border-top: 25px solid #85c4ee; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1.25s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Body Elements */
.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1em;
  -webkit-column-gap:   1em;
  -moz-column-gap:      1em;
  column-gap:           1em;  
  
  margin: 2.5%;
}

.photo-cell {
  width: 27.5%;
  padding: 1em;
  border-radius: 2em;
  border: 0.15em solid #bbbbbb;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  font-size: 0.75em;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.date {
  color: #999999;
}

.photo {
  width: 100%;
}
