/* App.css */



/* General changes */

.App {
  padding: 1em;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color:rgb(240, 240, 240);
}

h2, h3 {
  text-align: center;
}

.centering {
  text-align: center;
}

.text-left {
  text-align: left;
}

.padding {
  padding: 2.5em;
}

.error-msg {
  color: rgba(236, 64, 58, 0.767);
  font-weight: bold;
  font-style: italic;
}

.icon {
  height: 2em;
}

button {
  border-radius: 2.5em;
  border-color: #999999;
  border-style: solid;
  padding: 0.5em;
  margin: 0.25em;
  transition: all 0.35s;
}

button:hover {
  border-color: rgba(83, 200, 233, 1);
  background-color: rgba(83, 200, 233, 1);
  color: rgb(240, 240, 240);
}

button:active {
  border-radius: 2.5em;
  border-color: rgb(155, 233, 255);
  background-color: rgb(155, 233, 255);
  color: rgb(240, 240, 240);
}



/* Navbar Elements */

.navbar {
  background-color: #999999;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 2.5em;
  padding-top: 1.5em;
  color: rgb(240, 240, 240);
}

.navbar a {
  color: rgb(240, 240, 240);
  text-decoration: none;
  transition: all 0.25s;
}

.navbar a:hover {
  color: rgba(83, 200, 233, 1);
}

.navbar a:active {
  color: rgb(155, 233, 255);
}

.navpages {
  display: flex;
  gap: 5em;
}

#logo {
  height: 6.5em;
}

.add-photo-btn {
  transform: translate(0em, 15em);
}



/* Searchbar Elements */

.searchbar {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  padding-bottom: 2.5em;
}

.page-chooser {
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 3px;
}



/* Loading Elements */

.spinner {
    border: 25px solid rgb(41, 77, 194);
    border-top: 25px solid rgba(83, 200, 233, 1);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1.25s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Body Elements */

.photos {
  width: 95%;
  display: inline-block;
  columns: 3;
  column-gap: 3em;
  margin: 0 auto;
}

.photo-cell {
  width: 100%;
  margin: 0 3em 3em 0;
  display: inline-block;
  padding: 1em;
  border: 0.15em solid #999999;
  border-radius: 2em;
  font-size: 0.75em;
  overflow: hidden;  
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.date {
  color: #999999;
}

.photo {
  width: 100%;
}

.txt-img-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 25em;
  color: white;
  text-shadow: 2px 2px 3px #000000;
}

.photo-backdrop {
  object-fit: scale-down;
  width: 125em;
  filter: opacity(60%);
}

.center-overlay {
  position: absolute;
  height: 2em;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -175%);
}



/* Screen adjustments */

@media screen and (max-width: 800px) {
  .photos {
    width: 90%;
    columns: 2;
  }
}

@media screen and (max-width: 600px) {
  .photos {
    width: 85%;
    columns: 1;
  }
}
